.main_container {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    color: white;
}

.nav_container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1215px;
    background-image: url('../../asets/img/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.logo_span {
    display: flex;
    font-family: cursive;
}

.logo {
    font-size: 65px;
}